$color-primary: #7ed56f;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;

/* reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* setting root font size */
html {
  /* 100% is 16px so for 10px we use 62.5 */
  font-size: 62.5%;
}
/* universal font since body is parent of all elem it gets nherited*/
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}
.header {
  /* 95% of visible window */
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url('../img/hero.jpg');
  background-size: cover;
  background-position: top;
  /* image adjustment all from bottom */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* clclwise  clip the image  */
  position: relative;

  &header__logo-box {
    position: absolute;
    top: 4rem; /*ref is parent elem ie header */
    left: 4rem;
  }

  &__logo {
    /* we specift the height and width scales accordingly */
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    /* 50% of the width of parent elem ie header when transform not used*/
    transform: translate(-50%, -50%); /*makes elem exactly at center */
    /* now these 50% are mo longer in realion ship of parent elem
    but of th elem itslef */
    text-align: center;
  }
}

/* .logo:hover{
    animation to happen when hover
    animation: moveInRight 1s ease-in-out;
} */
.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden; /*to reomve shakiness when using animation */
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; /* speed of animation */
    /* animation-iteration-count: 3; animation 3 times */
    /* animation-delay: 3s; /*3s delay to start animation */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
  }
}
/* decalre animation moveInLdeft */
@keyframes moveInLeft {
  /* animation at 0% */
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(10rem) rotate(60deg);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  /* animation at 0% */
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  /* animation at 0% */
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.btn {
  &:link,
  &:visited {
    display: inline-block; /*used when we want to give padding,h,wid  */
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 100px;
    /* put high no */
    transition: all 0.2s;
    font-size: 1.6rem;

    position: relative;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2); /*ofset in x dir and y dir 20px blur*/
  }
  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    
    &::after {
      background-color: $color-white;
    }
  }
  /* extra btn animation use after to add element behind the btn*/
  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  &:hover::after {
    /* inc size of btn */
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  &--animated {
    animation: moveInBottom 1s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
