.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);
  //andar k content ko ulta ghuma neka taki vo skew na hoaaa
  //   & > * {
  //     transform: skewX(12deg);//we cannot apply two transofrm prop to same  element
  //   }
  &__shape {
    width: 15rem;
    height: 15rem;
    background-color: black;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%); //text round shape mei  aya
    shape-outside: circle(
      50% at 50% 50%
    ); //rad 50 at c(50%,50) elem shld have def h and w and floated
    //shape-outsude defines the content how it flows around element in this case circle
    //when we want to look like it we use clip-path: ;
    clip-path: circle(50% at 50% 50%);
    //when element floated we dont mess with margins we use transform
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &__text {
    transform: skewX(12deg);
  }
  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7rem;
    opacity: 0;
    transition: all 0.5s;
    //to remove shaking when hover
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}
