.row {
  max-width: $grid-width; //if this much width is not there then it will fill 100%space it has
  background-color: #fff;
  margin: 0 auto; //trick to center block element inside another block element

  &:not(:last-child) {
    //with not we select everything ecept the last child
    margin-bottom: $gutter-vertical;
  }
  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
    background-color: orangered;
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
}
